#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Todoリスト全体のスタイル */
.todos {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
}

/* 個々のTodoアイテムのスタイル */
.todo {
  display: flex;
  align-items: center;
  background-color: #77c5e9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 完了したTodoアイテムのスタイル */
.done {
  text-decoration: line-through;
  color: #6c757d;
}

/* チェックボックスのスタイル */
.todo input[type="checkbox"] {
  margin-right: 10px;
}

/* Todoタイトルのスタイル */
.todo div {
  flex-grow: 1;
}

/* 削除ボタンのスタイル */
.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* 削除ボタンのホバーエフェクト */
.delete-button:hover {
  background-color: #c82333;
}

/* Todo入力フィールドとボタンのスタイル */
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* ボタンのホバーエフェクト */
button:hover {
  background-color: #218838;
}
